{% extends "base.html" %}

{% block content %}
<style>

.grid {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;

}
.block {
  display: block;
  background-color: #d92667;
  color: white;
  padding: 20px;
  word-wrap: break-word;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  font-family: "Karla";
  font-weight: 400;
}

.one {
    position: relative;
}


h1 {
    color: white;
    font-family: "Karla";
}

a {
    color: white;
}

.a_title {
    color: black
}

.a_create{
    color: #ffffff
}


.demo-class {
    color: white;
    font-family: "Karla";

}

</style>
  <h1>Aphorism</h1>
    <div class="grid">
    {% for aphorism in aphorism_list %}
    <div class="block one">
    <a href="/journal/{{ aphorism.journal.pk }}"> <h2>{{ aphorism.journal}}</h2> </a>
    {{ aphorism.aphorism }}</div>
    {% endfor %}
</div>

{% for aphorism in aphorism_list %}
    {% if aphorism %}
        {{ break }}
    {% endif %}
{% empty %}
    <p class="demo-class">You haven't created any aphorisms yet, you can get started <a class="a_create" href="/journal/create/">here</a></p>
{% endfor %}


{% endblock %}